{% extends 'ParkBundle::base.html.twig' %}

{% block title %}
    {{ parent() }} - Computer new
{% endblock %}

{% block body -%}

    <div class="page-header">
        <h1>Computer new</h1>
    </div>

    <div class="row">
        <div class="col-md-4">

			{% include 'ParkBundle:Computer:form.html.twig' with {'form': create_form} %}

            <hr>

            <a class="btn btn-sm btn-primary" href="{{ path('computer') }}"><span class="glyphicon glyphicon-arrow-left"></span> Back to list</a>

        </div>
    </div>

{% endblock %}
